<%- include('../shared/header') %>

<section id="home">
  <div class="wrapper">
    <div class="col-a">
      
      <header>
        <h4>BEM VINDOS A SENSEIDEV 👋</h4>
        <h1>Assistência Dev simplificada para todos</h1>
      </header>

      <div class="content">
        <p>
          A SenseiDev conecta a pessoa desenvolvedora que precisa deste auxílio com quem já tem experiência na área e está disponível para contribuir com a comunidade.

        </p>
        <div class="row">
          <div class="col-4">
            <a class="button" href="#contact">
              Seja um tutor
            </a>
          </div>
     
          <div class="col-4">
            <a class="button" href="#contact">
              Seja um aluno
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-b">
      <img
        src="/img/image_home_top.svg"
        alt="Ilustração homem de óculos em frente ao computador estudando"
      />
    </div>

    
  </div>
</section>

<section id="status">
  <div class="stats">
    <div class="stat">
      <h3>+2.000</h3>
      <p>Alunos Atendidos</p>
    </div>

    <div class="stat">
      <h3>+30</h3>
      <p>Tutores disponíveis</p>
    </div>

    <div class="stat">
      <h3>+2</h3>
      <p>Anos no mercado</p>
    </div>
  </div>
</section>

<section id="services">
  <div class="wrapper">
    <header>
      <h4>Serviços</h4>
      <h2>Como nossos tutores podem te ajudar?</h2>
    </header>

    <div class="content">
      <div class="cards">
        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>Iniciante</h3>
          <p>
            Ideal para quem está começando a carreira agora ou está mudando de profissão.
          </p>
        </div>

        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>Front-End</h3>
          <p>
            Suporte com quem entende de HTML, CSS e JavaScript, além de frameworks como React, Angular e Vue.JS.
          </p>
        </div>

        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>Back-End</h3>
          <p>
            Suporte com quem entende das principais plataformas e linguagens, como Python Node.JS, PHP, Java e .NET.
          </p>
        </div>

        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>Data Science</h3>
          <p>
            Suporte com quem entende de análise de dados, do Excel ao Python, e mergulhe em frameworks e bibliotecas, como Pandas, Scikit-Learn e Seaborn.
          </p>
        </div>

        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>UX & Design</h3>
          <p>
            Suporte com quem entende das principais ferramentas gráficas, como o Adobe Photoshop, Adobe Illustrator, Figma, Final Cut e outras!
          </p>
        </div>

        <div class="card">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
            <path
              d="M17.091 8.18182L10.091 15.1818L6.90918 12"
              stroke="#00856F"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <h3>Mobile</h3>
          <p>
            Suporte com quem entende construir ambientes nativos, como Android ou iOS, e entregar apps incríveis, utilizando frameworks como Flutter e React Native.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="wrapper row">    
    <div class="col about-image">
      <img
        src="/img/image_sobrenos.svg"
        alt="Ilustração homem estudando no computador"
      />
    </div>
    <div class="col about-sobre" style="margin-top: 40px;">
      <header>
        <h4>Sobre nós</h4>
        <h2>Entenda quem somos e por que existimos</h2>
      </header>

      <div class="content">
        <p>
          A nossa missão é auxiliar quem está entrando no mercado de desenvolvimento ou está migrando de profissão, além de ajudar quem precisa de suporte em ferramentas especificas do mercado dev
        </p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <header>
    <h4>Faça Parte</h4>    
    <h2>Faça parte do nosso time<br> de alunos ou tutores</h2>
  </header>
  <div class="container">
    <div class="row">
    <div class="col form-lateral">
      <div class="content">
        <ul>
          <li>
            <div class="card">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
                <path
                  d="M17.091 8.18182L10.091 15.1818L6.90918 12"
                  stroke="#00856F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
  
              <h3>Aluno</h3>
              <p>Receba suporte do time de tutores<br> da SenseiDev
              </p>
            </div>
          </li>
          <li>
            <div class="card">
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="12" cy="12" r="12" fill="#DCE9E2" />
                <path
                  d="M17.091 8.18182L10.091 15.1818L6.90918 12"
                  stroke="#00856F"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
  
              <h3>Tutor</h3>
              <p>Receba suporte do time de tutores<br> da SenseiDev</p>
            </div>
          </li>
        </ul>

        
      </div>
    </div>

    <div class="col-8">
      <form class="row g-3 form-contact">
        <div class="col-12">
          <label for="inputEmail4" class="form-label"></label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="Nome Completo">
        </div>
        <div class="col-6">
          <label for="inputPassword4" class="form-label"></label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="CPF">
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label"></label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Data de Nascimento">
        </div>
        <div class="col-6">
          <label for="inputAddress2" class="form-label"></label>
          <input type="email" class="form-control" id="inputAddress2" placeholder="E-mail">
        </div>
        <div class="col-6">
          <label for="inputCity" class="form-label"></label>
          <input type="text" class="form-control" id="inputCity" placeholder="Telefone">
        </div>
        <div class="col-6">
          <label for="inputCity" class="form-label"></label>
          <input type="text" class="form-control" id="inputCity" placeholder="Usuário">
        </div>
        <div class="col-6">
          <label for="inputCity" class="form-label"></label>
          <input type="password" class="form-control" id="inputCity" placeholder="Senha">
        </div>
       
        <div class="col-12">
          <button type="submit"class="btn-enviar">Enviar</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</section>

<%- include('../shared/footer') %>
