.footer {
  background-color: #3F3E77;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0px 100px;
}

.logoSensei {
  font-size: 40px;
}

.logoDev {
  font-size: 40px;
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconsContainer {
  display: flex;
  gap: 20px;
}

text {
  color: white;
  font-family: "Roboto"
}