<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Projeto Integrador</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <!-- <link rel="stylesheet" href="/stylesheets/sassbuild/aplication.min.css"> -->

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="menu"
      class="navbar navbar-expand-lg navbar-light"
    >
      <div
        class="container"
        id=""
        style="justify-content: space-between; display: flex; gap: 100px"
      >
        <a class="navbar-brand" href="/">
            <img src="/img/SenseiDev.png" alt="">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a class="menu-link active" href="#home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="menu-link" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="menu-link" href="#services">Servicos</a>
          </li>
          <li class="nav-item">
            <a class="menu-link" href="#contact">Faça Parte</a>
          </li>
        </ul>
        <form
          class="form"
          style="display: flex; gap:16px;"
        >          
          <a href="/tutores" class="button-header" style="text-decoration: none;" type="submit" >
            Area do Tutor
          </a>
          <a href="/usuarios" class="button-header" style="text-decoration: none;" type="submit">
            Area do Aluno
          </a>
        </form>
      </div>
    </div>
